/backend/.idea/
/backend/microservices/shared/.idea/
/backend/microservices/shared/.gradle/
/backend/microservices/users-ms/.idea/
/backend/microservices/users-ms/.gradle/
/backend/microservices/listings-ms/.idea/
/backend/microservices/listings-ms/.gradle/
.idea
.DS_Store
/backend/microservices/shared/target
/backend/microservices/users-ms/target
/backend/microservices/listings-ms/target