.rangePickerCalendar {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 300px;
    gap: 30px;
}

.month {
    display: inline-flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButtons {
    position: absolute;
}
